<nav class="navbar" [class.scrolled]="scrolled">
  <div class="nav-inner">

    <a href="#home" class="nav-logo">M<span class="nav-dot">.</span>A</a>

    <div class="nav-links">
      <a href="#about"      class="nav-link">About</a>
      <a href="#skills"     class="nav-link">Skills</a>
      <a href="#projects"   class="nav-link">Works</a>
      <a href="#experience" class="nav-link">Journey</a>
    </div>

    <div class="nav-right">
      <button class="theme-toggle" (click)="toggleTheme()" [attr.aria-label]="isDark ? 'Light mode' : 'Dark mode'">
        
        <svg *ngIf="isDark" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="5"/>
          <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
        </svg>
        
        <svg *ngIf="!isDark" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" viewBox="0 0 24 24">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
        </svg>
      </button>

      <a href="#contact" class="nav-cta">Let's Talk</a>

      <button class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>

  </div>

  
  <div class="mobile-menu" [class.open]="menuOpen">
    <a href="#about"      class="mobile-link" (click)="closeMenu()">About</a>
    <a href="#skills"     class="mobile-link" (click)="closeMenu()">Skills</a>
    <a href="#projects"   class="mobile-link" (click)="closeMenu()">Works</a>
    <a href="#experience" class="mobile-link" (click)="closeMenu()">Journey</a>
    <a href="#contact"    class="mobile-link mobile-cta" (click)="closeMenu()">Let's Talk →</a>
  </div>
</nav>
